<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Dorang landing page.">
    <meta name="author" content="Devcrud">
    <title>ProjetSOA</title>
    {% load static%}
    <!-- font icons -->
    <link rel="stylesheet" href="{% static 'assets/vendors/themify-icons/css/themify-icons.css'%}">

    <!-- Bootstrap + Dorang main styles -->
	<link rel="stylesheet" href="{% static 'assets/css/dorang.css'%}">

</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home" class="dark-theme">
    
    <!-- page navbar -->
    <nav class="page-navbar" data-spy="affix" data-offset-top="10">
        <ul class="nav-navbar container">
            <li class="nav-item"><a href="http://127.0.0.1:8000/app/profile/" class="nav-link">Create portfolio</a></li>
            
            <li class="nav-item"><a href="{% url 'portfolio'%}" class="nav-link">My portfolio</a></li>
            <li class="nav-item"><a href="{% url 'update_profile'%}" class="nav-link">My profile</a></li>
            <li class="nav-item"><a href="{% url 'feedback'%}" class="nav-link">Give us feed back</a></li>
            <li class="nav-item"><a href="#fb" class="nav-link">Feedbacks</a></li>
            <li class="nav-item"><a href="{% url 'logout'%}" class="nav-link">Log out</a></li>
        
        </ul>
    </nav><!-- end of page navbar -->

    <div class="theme-selector">
        <a href="javascript:void(0)" class="spinner">
            <i class="ti-paint-bucket"></i>
        </a>
        <div class="body">
            <a href="javascript:void(0)" class="light"></a>
            <a href="javascript:void(0)" class="dark"></a>
        </div>
    </div>  

    <!-- page header -->
    <header class="header">
        <div class="overlay"></div>
        <div class="header-content">
            <h1 class="header-title">Projet SOA2</h1>
            <p class="header-subtitle">By Tijani Nidhal,Bejia Emna</p>

         <!--   <button class="btn btn-theme-color modal-toggle"><i class="ti-control-play text-danger"></i> Watch Video</button> -->

        </div>
    </header><!-- end of page header -->

    <!-- modal -->


    <!-- page container -->
    <div class="container page-container">
        <div class="col-md-10 col-lg-8 m-auto">
            <h6 class="title mb-4" id="fb">FEED BACKS</h6>
            <p class="mb-5">These are some feedbacks written by our users</p>
        </div>  

        <!-- row -->
        <div class="row mb-4">
            <div class="col-md-4">
                <a href="javascript:void(0)" class="overlay-img">
                    <img src="{% static 'assets/imgs/card.jfif'%}" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, weber Landing page">  
                    <div class="overlay"></div> 
                    <div class="des">
                        <h1 class="title">{{feedback1.title}}</h1>
                        
                        <p>{{feedback1.feedback}}</p>
                    </div>          
                </a>
            </div>
            <div class="col-md-4">
                <a href="javascript:void(0)" class="overlay-img">
                    <img src="{% static 'assets/imgs/card.jfif'%}" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, weber Landing page">  
                    <div class="overlay"></div> 
                    <div class="des">
                        <h1 class="title">{{feedback2.title}}</h1>
                        
                        <p>{{feedback2.feedback}}</p>
                    </div>          
                </a>
            </div>
            <div class="col-md-4">
                <a href="javascript:void(0)" class="overlay-img">
                    <img src="{% static 'assets/imgs/card.jfif'%}" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, weber Landing page">  
                    <div class="overlay"></div> 
                    <div class="des">
                        <h1 class="title">{{feedback3.title}}</h1>
                        
                        <p>{{feedback3.feedback}}</p>
                    </div>          
                </a>
            </div>          
        </div><!-- end of row -->
<!--
        <div class="col-md-10 col-lg-8 m-auto">
            <h6 class="title mb-4 mt-5 pt-5">THE TEAM</h6>
            <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim.</p>
        </div>

         
        <div class="row mb-5">
            <div class="col-md-6">
                <a href="javascript:void(0)" class="card">
                    <img src="assets/imgs/blog-1.jpg" class="card-img" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, weber Landing page">
                    <div class="card-body">
                        <h6 class="card-subtitle">30 June, 2018</h6>
                        <h3 class="card-title">Eiusmod
                        tempor</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>                  
                </a>
            </div>  
            <div class="col-md-6">
                <a href="javascript:void(0)" class="card">
                    <img src="assets/imgs/blog-2.jpg" class="card-img" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, weber Landing page">
                    <div class="card-body">
                        <h6 class="card-subtitle">29 June, 2018</h6>
                        <h3 class="card-title">Ut minim veniam</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>                  
                </a>
            </div>  
        </div> end of row -->
    

    </div> <!-- end of page container -->

     

    <!--footer & pre footer -->
    <div class="contact-section">
        <div class="overlay"></div>


            <!-- footer -->
            <footer class="footer">
                
                <p class="infos">ISG,15/12/2022,3lbi1</p>       
                
            </footer><!-- end of footer -->

        </div><!-- end of container -->
    

    <!-- core  -->
    <script src="{% static 'assets/vendors/jquery/jquery-3.4.1.js'%}"></script>
    <script src="{% static 'assets/vendors/bootstrap/bootstrap.bundle.js'%}"></script>

    <!-- bootstrap affix -->
    <script src="{% static 'assets/vendors/bootstrap/bootstrap.affix.js'%}"></script>

    <!-- Dorang js -->
    <script src="{% static 'assets/js/dorang.js'%}"></script>

</body>
</html>
